h1{
   color:rgb(255,000,255);
}
#para{
    color: aqua;
}
#mno{
    color:greenyellow ;
}
#xyz{
    color: olivedrab;
}
#abc{
    color: violet;
}
#kmr{
    color: orangered;
}
#pqr{
    color:orchid;
}
h2{
    color: brown;
}
.as:hover{
    color: blueviolet;
}
.zx:hover{
    color: brown;
}
.cv:hover{
    color: brown;
}
.ma:hover{
    color: brown;
}
.cl:hover{
    color: brown;
}
.ar:hover{
    color: brown;
}
.ya:hover{
    color: brown;
}