h1{
    color: purple;
    /* text-shadow: 10px 5px 10px black; */
    /* text-shadow: 10px 10px 10px black; */
    /* text-shadow: 20px 10px 5px pink; */
    text-shadow: 5px 20px 5px pink;
}
p{
    color: aqua;
    text-shadow: 10px 30px 3px pink;
    /* font-weight: bolder; */
    /* font-size: 19px; */
}
.container{
    height: 350px;
    width: 300px;
    background-color: palevioletred;
    /* box-shadow: 5px 20px 10px 10px black; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}