h1{
    color: blueviolet;
}
.xyz:hover{
    color: brown;
}
.abc{
    background: aqua;
    height:600px;
    width:400px;
    height: 50%;
    width: 25%;
}
body{
    background-color: greenyellow;
    height:800px;
    width:600px;

}
